[submodule "lib/glucose"]
	path = cspuz_core/lib/glucose
	url = https://github.com/semiexp/glucose.git
[submodule "enigma_csp/lib/cadical"]
	path = cspuz_core/lib/cadical
	url = https://github.com/semiexp/cadical.git
